{% extends "base.html" %}
{% block content %}
<h2>Assignment: мои объекты</h2>
<table>
  <tr><th>ID</th><th>Owner</th><th>Title</th><th>Действия</th></tr>
  {% for o in objects %}
    <tr>
      <td>{{ o.id }}</td><td>{{ o.owner.username }}</td><td>{{ o.title }}</td>
      <td>
        <a href="/secure/assignment/{{ o.id }}/">Безопасно</a> |
        <a href="/vuln/assignment/?id={{ o.id }}">Уязвимо (query)</a> |
        <a href="/vuln/assignment/path/{{ o.id }}/">Уязвимо (path)</a>
      </td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
