<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="person" class="com.example.demo.Person">
        <constructor-arg value="Никита"/>
        <constructor-arg value="Про"/>
        <constructor-arg>
            <value>2005/05/22</value>
        </constructor-arg>
    </bean>

</beans>